<header class="page-header">
  <h1> ABOUT US </h1>
</header>

<div class="panel">
   <div class ="alert alert-success">
   Welcome to the Jungle
   </div>

   <%= image_tag "founder.jpg", alt: "Founder of Jungle: Sam Roy-Effer", title: "Founder of Jungle: Sam Roy-Effer", class: "founder" %>
   <p> The idea of Jungle came to Sam when he thought that he could make a better product distribution compant that could be given to the population. In order
   to start this process he had to make one thing to get the webpage started: <%= link_to 'Modern Skateboards', '/products/7' %></p>
   <p> By purchasing these product you will become one of the Members of the Jungle </p>
   <p> <%= link_to "Welcome to the Jungle", :root, class: "btn btn-primary"%></p>
</div>